# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/

# -----------------------------
# Django
# -----------------------------
*.log
db.sqlite3
db.sqlite3-journal

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*
*.env

# -----------------------------
# VS Code / IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Static & Media (optional)
# -----------------------------
staticfiles/
media/

# -----------------------------
# Testing / Coverage
# -----------------------------
.coverage
htmlcov/
.pytest_cache/

# -----------------------------
# Misc
# -----------------------------
*.swp
*.swo